<!DOCTYPE html>
<html>
<head>
    <title>Registration Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }
        .container {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 5px;
            border: 1px solid #e0e0e0;
            max-width: 600px;
            margin: auto;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            color: #ffffff;
            background-color: #007bff;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Welcome to Our Platform!</h2>
    <p>Thank you for registering with us. Please click on the link below to activate your account:</p>
    <a href="{{link}}" class="button">Activate Account</a>
    <p>If you didn't make this request, please ignore this email.</p>
</div>
</body>
</html>